<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<br>
<br>
<style>  
    body  
    {  
    background-image:url("https://images.app.goo.gl/7nd64rwQaVpo4cSs7"); 
}  
    </style>    
<div>
    <img align="left" src="https://cdn.vectorstock.com/i/1000x1000/41/67/mini-people-with-computer-vector-22394167.webp" width="700" height="500" >   
</div>
<div class="container">
    <table class="table">
        <thead>

            <tr>
                <th>
                    <h4 style="text-align: center;">Engineer's Login Page</h4>
                </th>
            </tr>
        </thead>
        <br>
        <tbody>
            <tr>
                    <div class="table">
                        <form [formGroup]="loginForm" (ngSubmit)="validateEngineer()">
                            <div class="form-group">
                                <input type="text" class="form-control" name="engineerEmail"
                                    formControlName="engineerEmail" placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="engineerPassword"
                                    formControlName="engineerPassword" placeholder="Enter password">
                            </div>
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </form>

                    </div>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="container" style="width: 20%;">

    <button *ngIf="engineerLoginStatus" (click)="getAllComplaintsByTicketIds()" class="btn btn-danger">View
        All Complaints</button>
        &nbsp;&nbsp;
    <button *ngIf="engineerLoginStatus" (click)="getAllFeedbacks()" class="btn btn-danger">View
        All Feebacks</button>


</div>
<br>

 
<div > 
<div *ngIf="viewComplaints">

    <table class="table">
        <thead>
           
        </thead>

        <tbody>
            <tr *ngFor="let complaint of complaints">
                <div >
                    <form (ngSubmit)="updateStatus(complaint)">
                           
                        <td><label for="ticketId">Ticket Id :</label><input type="text" id="ticketId" name="ticketId"
                                value="{{complaint.ticketId}}" disabled> </td>

                        <td><label for="customerEmail">Customer Email :</label><input type="text" name="customerEmail"
                                value="{{complaint.customerEmail}}" id="customerEmail" disabled></td>

                        <td><label for="complaint">Complaint :</label><input type="text" name="complaint"
                                value='{{complaint.complaint}}' id="complaint" disabled></td>

                        <td><label for="pincode">Pincode :</label><input type="text" name="pincode"
                                value="{{complaint.pincode}}" id="pincode" disabled></td>

                        <td><label for="status">Status :</label><input type="text" name="status"
                                value="{{complaint.status}}" id="status" (change)="newStatus($event)"></td>
                        <td><button type="submit" class="btn btn-primary">Submit</button></td>
                            
                    </form>
                </div>


            </tr>
        </tbody>
    </table>
</div>

</div> 

<div >
    <div *ngIf="viewFeedbacks">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Feedback Id</th>
                    <th scope="col">Ticket Id</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Feedback</th>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr *ngFor="let feedback of feedbacks">
                    <td scope="row">{{feedback.feedbackId}}</td>
                    <td>{{feedback.ticketId}}</td>
                    <td>{{feedback.customerEmail}}</td>
                    <td>{{feedback.feedback}}</td>


                </tr>
            </tbody>
        </table>
    </div>
</div>

    
</body>
</html>
