<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
<br><br>
<div class="container">
<div class="table" >
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4 >Add Your Complaints</h4>
                </th>
            </tr>
        </thead>
        </table>
    <form (ngSubmit)="registerComplaint()">
        <div class="form-group">
            <label for="email">Enter Email:</label>
            <input type="text" class="form-control" name="customerEmail" [(ngModel)]="complaint.customerEmail"
                placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="pin">Enter Pincode:</label>
            <input type="text" class="form-control" name="pincode" [(ngModel)]="complaint.pincode"
                placeholder="Enter pincode">
        </div>



        <div class="form-group">
            <label for="com">Enter Complaint:</label>
            <input type="text" class="form-control" name="complaint" [(ngModel)]="complaint.complaint"
                placeholder="Enter complaint">
        </div>

        <div class="form-group">
            <label for="status">Enter Status:</label>
            <input type="text" class="form-control" name="status" [(ngModel)]="complaint.status"
                placeholder="Enter status">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<br>
<div class="container" style="width: 20%;">
    <button (click)="getAllComplaintsByEmail(complaint.customerEmail)" class="btn btn-danger">View All
        Complaints</button>
</div>
<br>
<!-- ---------------------- view complaints ----------------------- -->
<div class="container" style="width: 25%;">
    <div *ngIf="viewComplaints">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ticket Id</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Complaint</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">status</th>
                    <th scope="col">Review</th>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr *ngFor="let complaint of complaints">
                    <td scope="row">{{complaint.ticketId}}</td>
                    <td>{{complaint.customerEmail}}</td>
                    <td>{{complaint.complaint}}</td>
                    <td>{{complaint.pincode}}</td>
                    <td>{{complaint.status}}</td>
                    <td><button (click)="sendComplaintDetails(complaint)" class="btn btn-danger">Send
                            Feedback</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
</body>
</html>