<div class="home-page">
  <app-header></app-header>
  <header>
    <button type="primary" class="logout-button" (click)="logoutAdmin()">
      LOGOUT
    </button>
  </header>
  <div>
    <span class="header">ENGINEER DASHBOARD</span>
  </div>
  <div>
    <span class="head">Complaints</span>
  </div>
  <form action="">
    <table class="center">
      <thead>
        <tr>
          <th scope="col">Ticket Id</th>
          <th scope="col">Customer Email</th>
          <th scope="col">Complaint</th>
          <th scope="col">Pincode</th>
          <th scope="col">status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let complaint of complaints">
          <td scope="row">{{ complaint.ticketId }}</td>
          <td>{{ complaint.customerEmail }}</td>
          <td>{{ complaint.complaint }}</td>
          <td>{{ complaint.pincode }}</td>
          <td>{{ complaint.status }}</td>
          <td>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="updateComplaint(complaint)"
            >
              Change Status
            </button>
          </td>
        </tr>
        <br />
      </tbody>
    </table>
  </form>
  <div
    variant="outlined"
    *ngIf="updateManagerStatus"
    class="home-page-admin-card"
  >
    <form action="" (ngSubmit)="updateStatus()">
      <span>Update Complaint Status</span><br />
      <select formControlName="status" (change)="statusSelected($event)" style="width: 20%;" class="form-control" >  
        <option>Select</option>  
        <option>Resolved</option> 
        <option>Escalated</option>
        <option>Working On It</option>  
    </select>  
      <br />
      <Button type="primary" class="home-page-login-button"> Update </Button>
    </form>
  </div>
  <div>
    <span class="head">Feedbacks</span>
  </div>
  <table class="center">
    <thead>
      <tr>
        <th style="padding-right: 5px">Feedback Id</th>
        <th style="padding-right: 5px">Ticket Id</th>
        <th style="padding-right: 5px">Customer Email</th>
        <th style="padding-right: 5px">Feedback</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let feedback of feedbacks">
        <td style="padding-right: 5px" scope="row">
          {{ feedback.feedbackId }}
        </td>
        <td style="padding-right: 5px">{{ feedback.ticketId }}</td>
        <td style="padding-right: 5px">{{ feedback.customerEmail }}</td>
        <td style="padding-right: 5px">{{ feedback.feedback }}</td>
      </tr>
      <br />
      <br />
    </tbody>
  </table>
</div>
<app-footer></app-footer>
