*{
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
header{
font-family: monospace;
}

nav{
background: #1b07ce6b;
height: 80px;
width: 100%;
}

a.logo{
  color: white;
  font-size: 28px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 19px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 4px;
}


nav ul li a.active,nav ul li a:hover{
  background: #677781;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: rgb(65, 6, 6);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    color : white;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #12477c;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 15px;
  }
 ul li a:hover,ul li a.active{
    background: #1a364b;
    color: #a9f829;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .dropdown-menu{
    display: none;
  }
  
  .dropdown:hover .dropdown-menu{
  
  display: block;
  position: absolute;
  background: #e2eeee;
  margin:0px;
  
  }
}
.dropdown-menu{
  display: none;
}

.dropdown:hover .dropdown-menu{

display: block;
position: absolute;
background: #148a95;
margin:0px;

}

