.container{
    
        display: flex;
        justify-content: right;
        width: 30%;
        
}
.button {
        background-color:#910858;
        border: none;
        border-radius: 50px 20px;
        color: rgb(255, 255, 255);
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
