body {
  color: #d63384;
}

img {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
  background-size: cover;
  opacity: 1;
}

.wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}
.wrapper > div {
  width: 100%;
  height: 90vh;
  position: absolute;
  animation: animate 20s infinite;
  background-size: cover;
  background-position: center;
}
.wrapper > div:nth-child(2) {
  animation-delay: 8s;
}
.wrapper > div:nth-child(3) {
  animation-delay: 9s;
}
.wrapper > div:nth-child(4) {
  animation-delay: 7s;
}
.wrapper > div:nth-child(5) {
  animation-delay: 5s;
}

@keyframes animate {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.2);
  }
}

.content {
  position: relative;
}
.PART1 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 20px;
  margin: 20px 50px;
  z-index: 150;
  display: block;
}
.knowmore {
  text-align: center;
  margin: 20px 0;
}
.knowmore a {
  text-decoration: none;
  color: black;
}
.course {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.course-item1 {
  width: 35%;
  height: 200px;
  margin: 20px 20px;
  background-color: #a47533;
  padding: 20px 20px;
  border-radius: 30px;
}
.course-item1 a {
  color: white;
  font-size: 17px;
}
.course-item2 {
  width: 35%;
  margin: 20px 20px;
  background-color: #a47533;
  padding: 20px 20px;
  border-radius: 30px;
}
.course-item2 a {
  color: white;
  font-size: 17px;
}

.fheading {
  width: 500px;
  height: 100px;
  margin: 50px 50px;
  font-family: cursive;
}
.knowmore a {
  border: 1px solid white;
  background-color: #a47533;
  margin: 5px 5px;
  padding: 6px 6px;
  border-radius: 25px;
  color: white;
}
.course-item {
  margin: 10px 0;
}
