<div class="home-page">
  <app-header></app-header>
  <header>
    <button type="primary" class="logout-button" (click)="logoutAdmin()">
      LOGOUT
    </button>
  </header>
  <div class="view-customer-div">
    <div>
      <div class="customer-detail-menu-card">
        <div>
          <span class="after-customer-login-page-menu-title">Admin Dashboard </span>
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/admin-view-managers">View Managers</a>
          </button>
          <br />
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/admin-view-engineers">View Engineers</a>
          </button>
          <br />
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/admin-view-customers">View Customers</a>
          </button>
          <br />
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/admin-view-complaints">View Complaints</a>
          </button>
          <br />
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/admin-view-feedbacks">View Feedbacks</a>
          </button>
          <br />
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/admin-add-Manager">Add Managers</a>
          </button>
          <br />
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/admin-add-engineer">Add Engineers</a>
          </button>
        </div>
      </div>
    </div>
    <div>
      <div>
        <span class="head">Add Engineer</span>
      </div>
      <div
        variant="outlined"
        class="home-page-admin-card"
      >
        <form action="" [formGroup]="loginForm" (ngSubmit)="registerEngineer()">
          <input
            placeholder="Enter your Email ID"
            class="home-page-input"
            name="engineerEmail"
            formControlName="engineerEmail"
            required
          />
          <br />
          <input
            placeholder="Enter your PassWord"
            class="home-page-input"
            type="password"
            name="engineerPassword"
            formControlName="engineerPassword"
            required
          />
          <br />
          <input
            class="home-page-input"
            name="engineerName"
            formControlName="engineerName"
            placeholder="Enter name"
            required
          />
          <br />
          <Button type="primary" class="home-page-login-button">
            Submit
          </Button>
        </form>
      </div>
    </div>
    <br />
  </div>
</div>
<app-footer></app-footer>
