<div class="home-page">
  <app-header></app-header>
  <header>
    <nav>
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="login"> Admin Login </a>
        </li>
        <li>
          <a href="manager-login"> Manager Login </a>
        </li>
        <li>
          <a href="engineer-login">Engineer Login</a>
        </li>
        <li><a href="customer-login">Customer Login</a></li>
        <li>
          <a href="register">Register Customer</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="registration-form-card">
    <div class="title">Registration</div>
    <div class="content">
      <form (ngSubmit)="registerCustomer()" [formGroup]="loginForm">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Customer Name</span>
            <input
              type="text"
              name="customerName"
              formControlName="customerName"
              placeholder="CustomerFullName..."
              
            />
            <br />
          </div>
          <div class="input-box">
            <span class="details">Customer Phone Number</span>
            <input
              type="text"
              name="customerMobile"
              formControlName="customerMobile"
              placeholder="PhoneNumber..."
            />
            <br />
          </div>
          <div class="input-box">
            <span class="details">Customer Email</span>
            <input
              type="text"
              placeholder="EmailAddress.."
              name="customerEmail"
              formControlName="customerEmail"
            />
            <br />
          </div>
          <div class="input-box">
            <span class="details">Customer Password</span>
            <input
              name="customerPassword"
              formControlName="customerPassword"
              placeholder="CustomerPassword..."
              type="password"
            />
            <br />
          </div>
          <div class="input-box">
            <span class="details">Pincode</span>
            <input
              type="text"
              placeholder="Pincode..."
              name="customerPincode"
              formControlName="customerPincode"
            />
            <br />
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input
              type="text"
              placeholder="Address..."
              name="customerAddress"
              formControlName="customerAddress"
            />
            <br />
          </div>
        </div>

        <div>
          <Button type="primary" class="registration-form-submit-button">
            SUBMIT
          </Button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
