<div class="home-page">
  <app-header></app-header>
  <header>
    <button type="primary" class="logout-button" (click)="logoutAdmin()">
      LOGOUT
    </button>
  </header>
  <div class="view-customer-div">
    <div>
      <div class="customer-detail-menu-card">
        <div>
          <span class="after-customer-login-page-menu-title">Customer Dashboard </span>
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/customer-dashboard">Add Complaint</a>
          </button>
          <br />
          <button class="customer-detail-menu-button" variant="primary">
            <a href="/customer-complaint-status">Complaint Status</a>
          </button>
        </div>
      </div>
    </div>
    <div justify="center" class="home-page-inner-container">
      <div>
        <span class="head">Register Complaint</span>
      </div>
      <div variant="outlined" class="home-page-admin-card">
        <form action="">
          <textarea
            placeholder="Write Complaint"
            class="home-page-textarea"
            name="complaint"
            required
            (change)="complaintText($event)"
          ></textarea>
          <br />
          <br />
          <span class="label">Select Type:</span>
          <select
            name="complaint_type"
            style="width: 50%; margin-top: 20px"
            class="form-control"
            (change)="typeSelected($event)"
          >
            <option>Select</option>
            <option>Landline</option>
            <option>Brodband</option>
          </select>
          <br />
          <br />
          <Button
            type="primary"
            class="home-page-login-button"
            (click)="registerComplaint()"
          >
            Raise Complaint
          </Button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
