
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    
<br><br>
<style>  
   
    </style>    
<p>
<img align="left" src="https://media.istockphoto.com/vectors/employees-meeting-in-office-kitchen-and-drinking-coffee-vector-id1214639811?k=20&m=1214639811&s=612x612&w=0&h=T3xRujnf1gTa9eiqgibNUPCxlXD7ztOt6_r8A8iROXw=" width="600" height="400" >   
</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4 style="text-align: center;">Add Manager</h4>
                </th>
                
            </tr>
        </thead>
        <br>
        <tbody>
            <tr>
                    <div class="table">
                        <form (ngSubmit)="registerManager()">
                            <div class="form-group">
                                <input type="text" class="form-control" name="managerEmail"
                                    [(ngModel)]="manager.managerEmail" placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="managerPassword"
                                    [(ngModel)]="manager.managerPassword" placeholder="Enter password">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="managerName"
                                    [(ngModel)]="manager.managerName" placeholder="Enter name">
                            </div>



                            <div class="form-group">
                                <input type="text" class="form-control" name="managerPincode"
                                    [(ngModel)]="manager.managerPincode" placeholder="Enter pincode">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
              
            </tr>
        </tbody>
    </table>
</div>

<br>
<div class="container" style="width: 20%;">
    <button *ngIf="managerloginStatus" (click)="getAllComplaintsByPincode()" class="btn btn-danger">View
        All Complaints</button>
        &nbsp;&nbsp;
    <button *ngIf="managerloginStatus" (click)="getAllFeedbacks()" class="btn btn-danger">View
        All Feebacks</button>

</div>
<!-- -------------------------View Complaints------------------------- -->
<br>


<div *ngIf="viewComplaints" class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ticket Id</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Complaint</th>
                <th scope="col">Pincode</th>
                <th scope="col">status</th>
                <th scope="col">Review</th>
            </tr>
        </thead>
        <br>
        <tbody>
            <!-- <form (ngSubmit)="engineersDuty()"> -->
            <tr *ngFor="let complaint of complaints">
                <div class="container">
                   <!--  <form (ngSubmit)="engineersDuty(complaint)"> -->
                    <form (ngSubmit)="engineersDuty(complaint)">

                        <td><label for="ticketId">Ticket Id :</label><input type="text" id="ticketId" name="ticketId"
                                value="{{complaint.ticketId}}" disabled> </td>

                        <td><label for="customerEmail">Customer Email :</label><input type="text" name="customerEmail"
                                value="{{complaint.customerEmail}}" id="customerEmail" disabled></td>

                        <td><label for="complaint">Complaint :</label><input type="text" name="complaint"
                                value='{{complaint.complaint}}' id="complaint" disabled></td>

                        <td><label for="pincode">Pincode :</label><input type="text" name="pincode"
                                value="{{complaint.pincode}}" id="pincode" disabled></td>

                        <td><label for="status">Status :</label><input type="text" name="status"
                                value="{{complaint.status}}" id="status" disabled></td>

                        <td><button *ngIf="assignEngineersButton" (click)="assignEngineers()"
                                class="btn btn-danger">Assign
                                Engineers
                            </button>

                            <select *ngIf="assignEngineersDropdown" (change)="engineerSelected($event)">
                                <option *ngFor="let mail of engineerEmails" value="{{mail}}">{{mail}}
                                </option>

                            </select>
                        </td>
                        <td><button type="submit" class="btn btn-primary">Submit</button></td>
                    </form>
                
                </div>
            </tr>
            <!-- </form> -->
        </tbody>
    </table>
</div>

<!-- -------------------view Feedbacks------------------------ -->
<div class="container" style="width: 25%; padding: 1rem;">
    <div *ngIf="viewFeedbacks">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-right: 5px;">Feedback Id</th>
                    <th style="padding-right: 5px;">Ticket Id</th>
                    <th style="padding-right: 5px;">Customer Email</th>
                    <th style="padding-right: 5px;">Feedback</th>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr *ngFor="let feedback of feedbacks">
                    <td style="padding-right: 5px;" scope="row">{{feedback.feedbackId}}</td>
                    <td style="padding-right: 5px;">{{feedback.ticketId}}</td>
                    <td style="padding-right: 5px;">{{feedback.customerEmail}}</td>
                    <td style="padding-right: 5px;">{{feedback.feedback}}</td>


                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>